<div class="card">
  <div class="card-img-overly">
    <h6 style="text-align: center;">Liste d'Etat</h6>
    <div class="row">
      <div class="col-md-4">
        <input  type = " text " class = " search-query form-control " placeholder = " Chercher...  "   name = " item " [(ngModel)] = "item" style="width: 200px; margin-bottom: 5px;"/>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table" style="text-align: center;">
      <thead>

      <th>Libelle</th>
      <th>Action</th>
      <th>DateAction</th>
      </thead>
      <tbody>
      <tr *ngFor="let s of etats|filter: item|paginate: {itemsPerPage:4,currentPage:p}">
        <td>{{s.libelle}}</td>
        <td>{{s.action}}</td>
        <td>{{s.dateAction}}</td>
      </tr>

      </tbody>

    </table>
  </div>
  <div class="card-img-overly">
  <pagination-controls style="position: center" (pageChange)=" p=$event "></pagination-controls>
</div>
</div>

