
<div class="img" style="margin-left: -80px;">
  <section>
    <div class="box">
      <h1>Bienvenu {{currentUser.username}} <span>dans l'application gestion des examens</span> </h1>
      <button type="button" class="button" (click)="childModal.show();">À propos de l'application</button>
    </div>
  </section>
</div>

<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-child-name" style="margin-left: -630px !important; margin-top: 250px !important;">
  <div class="modal-dialog " style="width: 470px;background-color: #2e3047 !important; ">
    <div class="modal-content" style=" background-color: #2e3047 !important; border-color: #2e3047 !important; ">
      <div class="modal-header" style="background-color: #2e3047 !important; ">
        <h5 id="dialog-child-name" class="modal-title pull-left" style="color: white !important; font-style:italic;">
L'application gestion des examens est une application très simple d'utilisation.
          <br>
Elle vous permet de gérer les examens, cette gestion contient plusieurs fonctionnalités:
          <br>
          <ul>
         <li>Gérer les salles</li>
         <li>Gérer les départments </li>
         <li>Gérer les filiéres et leurs modules</li>
         <li>Gérer les personnels</li>
         <li>Gérer les examens</li>
         <li>Gérer les utilisateurs</li>
         <li>Consulter le calendrier</li>
         <li>Consulter les actions des utilisateurs</li>
          </ul>
        </h5>
        <button type="button" class="close pull-right" aria-label="Close" (click)="childModal.hide();">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

