<!--Liste des surveillant-->

<div style="margin-top: 100px;
    margin-left: 40px;
    width: 1355px;">
  <div class="card-header" style="background-color: #2e3047; color: #fff;">
    <h4 style="text-align: left;">Liste des Surveillants</h4>
  </div>
  <div class="card-body" style="border-style: solid; border-color: #2e3047 ;
 background-color: #fff;">
    <div class="row">
      <div >
        <input  type = " text " class = "form-control " placeholder = "Recherche globale..."   name = " item " [(ngModel)] = "item"  style="height: 46px;
      margin-top: -18px;
      background-color: #f8f6f6;
     /* width: 1390px;*/
     width: 1347px;
      margin-left: -4px;"/>
      </div>
    </div>
    <button class="btn btn-info fa fa-plus" (click)="parentModal.show();vider();" style="float: left !important;/* margin: 5px; */font-size: 20px;height: 45px;margin-left: -18px;margin-bottom: 10px;margin-top: 5px;background-color: #2e3047;border-color: #2e3047;">Ajouter surveillant</button>

    <div class="table-responsive">
    <table class="table table-bordered" style="text-align: center;">
      <thead>

      <th>Nom</th>

      <th>Prenom</th>

      <th>Mail</th>
      <th>Actions</th>
      </thead>
      <tbody>
      <tr *ngFor="let s of surveillants|filter: item|paginate: {itemsPerPage:5,currentPage:p}">

        <td>{{s.nom}}</td>

        <td >{{s.prenom}}</td>
        <td>{{s.mail}}</td>
        <td>
          <button class="btn btn-danger btn-sm fa fa-trash"  (click)="openModal(template)"></button>
          <button class="btn btn-info btn-sm fa fa-edit" style="margin-left: 5px;"  (click)=" recuperer(s,s.id); editModal.show();"></button>
        </td>
        <!--Confirmation du suppression-->
        <ng-template #template >
          <div class="modal-body text-center">
            <p>Voulez-vous vraiment supprimer cette surveillant?</p>
            <button type="button" class="btn btn-success" (click)="confirm();deleteByNom(s);" >Oui</button>
            <button  type="button" class="btn btn-danger" (click)="decline()" style="margin-left: 5px;" >Non</button>
          </div>
        </ng-template>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-img-overly">
    <pagination-controls (pageChange)=" p=$event " style="margin-left: 50px;"></pagination-controls>
  </div>
</div>



<!--Ajouter surveillant-->
  <div class="modal fade" bsModal #parentModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #2e3047;">
          <h4 id="dialog-nested-name1" class="modal-title pull-left" style="color: #fff;">Ajouter Surveillant</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="parentModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-6">
          <div class="form-group">
            <label for="nom" style="color: black;">Nom:</label>
            <input id="float-input" type="text" size="30"  id="nom" placeholder="Nom" name="nom" [(ngModel)]="surveillant.nom"
                   ngModel
                   required
                   #nom="ngModel"
                   [ngClass]="{'form-control' : true,
                     'is-invalid' : !nom?.valid && nom?.touched,
                     'is-valid' : nom?.valid && nom?.touched}">
            <small *ngIf="nom?.errors?.required && nom?.touched"
                   class="form-text custom-invalid-feedback">champs obligatoire</small>
          </div>
            </div>
            <div class="col-md-6">
          <div class="form-group">
            <label for="prenom" style="color: black;">Prénom:</label>
            <input id="float-input" type="text" min="1" size="4" id="prenom" placeholder="Prenom" name="prenom" [(ngModel)]="surveillant.prenom"
                   ngModel
                   required
                   min="18"
                   #prenom="ngModel"
                   [ngClass]="{'form-control' : true,
                    'is-invalid' : !prenom?.valid && prenom?.touched,
                    'is-valid' : prenom?.valid && prenom?.touched}">
            <small *ngIf="prenom?.errors?.required && prenom?.touched"
                   class="form-text custom-invalid-feedback">champs obligatoire</small>
          </div>
            </div>
            <div class="col-md-6">
          <div class="form-group">
            <label for="mail" style="color: black;">Email:</label>
            <input id="float-input" type="email" size="30"  placeholder="Mail" id="mail" name="mail" [(ngModel)]="surveillant.mail"
                   ngModel
                   required
                   #mail="ngModel"
                   [ngClass]="{'form-control' : true,
                     'is-invalid' : !mail?.valid && mail?.touched,
                     'is-valid' : mail?.valid && mail?.touched}">
            <small *ngIf="mail?.errors?.required && mail?.touched"
                   class="form-text custom-invalid-feedback">champs obligatoire</small>
          </div>
            </div>
          </div>
        </form>
        <div class="modal-body">
          <button class="btn btn-close pull-right" (click)="parentModal.hide();">Annuler</button>
          <button class="btn btn-primary btn-ajout pull-right" style="margin-right: 5px;" (click)="save();parentModal.hide();">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modifier Surveillant-->
  <div class="modal fade" bsModal #editModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header" style="background-color: #2e3047;">
          <h4 id="dialog-nested-name1" class="modal-title pull-left" style="color: #fff;">Modifier surveillant</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-6">
          <div class="form-group">
            <label for="nom" style="color: black;">Nom:</label>
            <input id="float-input" type="text" size="30" id="nom" placeholder="Nom" name="nom" [(ngModel)]="surveillant.nom"
                   ngModel
                   required
                   #nom="ngModel"
                   [ngClass]="{'form-control' : true,
                     'is-invalid' : !nom?.valid && nom?.touched,
                     'is-valid' : nom?.valid && nom?.touched}">
            <small *ngIf="nom?.errors?.required && nom?.touched"
                   class="form-text custom-invalid-feedback">champs obligatoire</small>
          </div></div>
            <div class="col-md-6">
          <div class="form-group">
            <label for="prenom" style="color: black;">Prénom:</label>
            <input id="float-input" type="text" min="1" size="4" id="prenom" placeholder="Prenom" name="prenom" [(ngModel)]="surveillant.prenom"
                   ngModel
                   required
                   min="18"
                   #prenom="ngModel"
                   [ngClass]="{'form-control' : true,
                    'is-invalid' : !prenom?.valid && prenom?.touched,
                    'is-valid' : prenom?.valid && prenom?.touched}">
            <small *ngIf="prenom?.errors?.required && prenom?.touched"
                   class="form-text custom-invalid-feedback">champs obligatoire</small>
          </div></div>
            <div class="col-md-6">
          <div class="form-group">
            <label for="mail" style="color: black;">Email:</label>
            <input id="float-input" type="email" size="30"  placeholder="Mail" id="mail" name="mail" [(ngModel)]="surveillant.mail"
                   ngModel
                   required
                   #mail="ngModel"
                   [ngClass]="{'form-control' : true,
                     'is-invalid' : !mail?.valid && mail?.touched,
                     'is-valid' : mail?.valid && mail?.touched}">
            <small *ngIf="mail?.errors?.required && mail?.touched"
                   class="form-text custom-invalid-feedback">champs obligatoire</small>
          </div></div>
          </div>
        </form>
        <div class="modal-body">
          <button class="btn btn-close pull-right" (click)="editModal.hide();">Annuler</button>
          <button class="btn btn-primary pull-right" style="margin-right: 5px;"  (click)="editModal.hide();update(surveillant.id, surveillant.nom, surveillant.prenom, surveillant.mail );refresh();">Editer</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #thirdModal2="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name3" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content" id="thirdModal2">
      <div class="modal-body">
        le surveillant est editee .
      </div>
    </div>
  </div>
</div>
</div>
