
<header>
  <div id="content-wrapper" class="d-flex-column">
  <div id="content">
    <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
      <div class="container-fluid">
          <div class="input-group">
            <input class="bg-light form-control border-0 small" type="text" placeholder="Chercher"/>
            <div class="input-group-append">
              <button class="btn btn-primary py-0" type="button">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
       <div class="container">
         <button class="btn btn-primary btn-connecte" type="button">Se Deconnecter</button>
       </div>
      </div>
    </nav>
  </div>
</div>
</header>

