<!--
<header>
  <div id="content-wrapper" class="d-flex-column">
    <div id="content">
      <nav class="navbar navbar-light navbar-expand shadow mb-4 topbar static-top">
        <div class="container-fluid">
          <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0 ">
            <div class="sidebar-brand-icon rotate-n-15">
              <i class="fa fa-calendar-check-o header"></i>
            </div>
            <div class="sidebar-brand-text mx-5 header">
              <h4>Gestion des examens</h4>
            </div>
            </a>
          <div class="container">
            <button class="btn btn-primary btn-connecte" type="button">Se Déconnecter</button>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>-->
<body>

<div class="menu-bar">
  <div class="container-fluid">
    <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0 " style="width: 100% !important;">
      <div class="sidebar-brand-icon rotate-n-15" style="margin-top: 25px !important;">
        <i class="fa fa-calendar-check-o header"></i>
      </div>
      <div class="sidebar-brand-text mx-5 header" style="margin-top: 25px !important;">
        <h4 style="color: #fff !important;">Gestion des examens</h4>
      </div>
    </a>
    <!--<div class="button">
      <button class="btn btn-primary btn-connecte button" type="button" style="margin-top: -35px !important;
    margin-right: -1200px !important;
    width: 123px !important; height: 34px !important; ">Se Déconnecter</button>
    </div>-->
  </div>
  <hr style="height:0.3px;border-width:0px;color:gray; width:1394px;background-color:gray; margin-top: 27px;">
<ul style=" margin-top: 1px !important;
    margin-left: -22px !important;">
  <li><a href="#"><i class="fa fa-bank"></i>Départements</a>
  <div class="sub-menu-1">
    <ul>
      <li><a class="nav-link " routerLink= "/admin/departements" routerLinkActive="active"> <i class="fa fa-bank"></i> Départements</a></li>
      <li class="hover-me"><a class="nav-link" routerLink= "/admin/salles" routerLinkActive="active"><i class="fa fa-suitcase"></i> Salles</a>  </li>
     <!-- <div class="sub-menu-2">
        <ul>
          <li><a href="#"> <i class="fa fa-edit"></i>Etat</a></li>
        </ul>
      </div>-->
    </ul>
  </div>
  </li>
  <li><a class="nav-link " routerLink= "/admin/personnels"  routerLinkActive="active"> <i class="fa fa-group"></i> Personnels</a>
    <div class="sub-menu-1">
      <ul>
        <li><a class="nav-link " routerLink= "/admin/professeurs"  routerLinkActive="active"><i class="fa fa-user"></i>Professeurs</a></li>
        <li><a class="nav-link " routerLink= "/admin/surveillants"  routerLinkActive="active">  <i class="fa fa-user-times"></i> Surveillants</a></li>
        <li><a class="nav-link " routerLink= "/admin/responsabilites"  routerLinkActive="active"><i class="fa fa-tasks"></i>Responsabilités</a></li>
      </ul>
    </div></li>
  <li><a href="#"><i class="fa fa-book"></i> Formation</a>
    <div class="sub-menu-1">
      <ul>
        <li><a class="nav-link " routerLink= "/admin/fillieres"  routerLinkActive="active"><i class="fa fa-bookmark"></i>Filiéres</a></li>
        <li><a class="nav-link " routerLink= "/admin/modules"  routerLinkActive="active"><i class="fa fa-book"></i> Modules</a></li>
      </ul>
    </div></li>
  <li><a class="nav-link " routerLink= "/admin/etudiants"  routerLinkActive="active"><i class="fa fa-graduation-cap"></i> Etudiants</a></li>
  <li><a class="nav-link " routerLink= "/admin/exams"  routerLinkActive="active"> <i class="fa fa-clock-o"></i>Exams</a></li>
  <li><a class="nav-link" routerLink= "/admin/etat"  routerLinkActive="active"><i class="fa fa-edit"></i>Etat</a></li>
  <li><a class="nav-link " routerLink= "/admin/calendars"  routerLinkActive="active"><i class="fa fa-calendar"></i>Calendrier</a></li>
  <li><a href="#"><i class="fa fa-sign-out"></i>Se Déconnecter</a>
</ul>
</div>
</body>

<!--
<header  class="blog-header py-3">
  <div class="row flex-nowrap justify-content-between align-items-center">
    <div class="col-4 text-center">
      <a class="blog-header-logo text-dark">Gestion des examens</a>
    </div>
    <div class="col-4 d-flex justify-content-end align-items-center"></div>
  </div>
</header>
-->
