

<header>
  <div id="content-wrapper" class="d-flex-column">
    <div id="content">
      <nav class="navbar navbar-light navbar-expand shadow mb-4 topbar static-top">
        <input type="checkbox" id="check">
        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0 " style="margin-left: 210px !important;">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fa fa-calendar-check-o header"></i>
          </div>
          <div class="sidebar-brand-text mx-5 header">
            <h4>Gestion des examens</h4>
          </div>
        </a>
        <div class="menu">
          <a routerLink= "/admin/salles" routerLinkActive="active" class="nav-item ">Salles</a>
          <a routerLink= "/admin/departements" routerLinkActive="active" class="nav-item">Departement</a>
          <a  routerLink= "/admin/responsabilites"  routerLinkActive="active" class="nav-item">Responsabilite</a>
          <a  routerLink= "/admin/personnels"  routerLinkActive="active" class="nav-item">Personnel</a>
          <a routerLink= "/admin/professeurs"  routerLinkActive="active" class="nav-item">Professeur</a>
          <a routerLink= "/admin/surveillants"  routerLinkActive="active" class="nav-item">Surveillant</a>
          <a routerLink= "/admin/etudiants"  routerLinkActive="active" class="nav-item">Etudiant</a>
          <a routerLink= "/admin/modules"  routerLinkActive="active" class="nav-item">Module</a>
          <a routerLink= "/admin/fillieres"  routerLinkActive="active" class="nav-item">Filiere</a>
          <a routerLink= "/admin/exams"  routerLinkActive="active" class="nav-item">Exam</a>
          <a routerLink= "/admin/calendars"  routerLinkActive="active" class="nav-item">Calendrier</a>
          <a routerLink= "/admin/etat"  routerLinkActive="active" class="nav-item">Etat</a>
          <div class="animation start-home"></div>
        </div>
        <div class="btn-group" dropdown>
          <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                  aria-controls="dropdown-basic">
            {{currentUser.username}} <span class="caret"></span>
          </button>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" style="background-color: #2e3047; margin-top: 13.8px; "
              role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" routerLink= "/admin/profil/{{currentUser.id}}" style="color: #E7E9F0 !important; ">Profil</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink= "/admin/sessions"  style="color: #E7E9F0 !important; ">Créer une session</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" (click)="logout()" style="color: #E7E9F0 !important; " >Se déconnecter</a>
            </li>
          </ul>
        </div>

        <label for="check" class="checkbtn"><i class="fa fa-bars" style="font-size: 20px !important; color: #E7E9F0 !important; transform: none !important;"></i></label>
      </nav>
    </div>
  </div>
</header>
