<!--Liste des filieres-->
<div style="margin-top: 180px;margin-left: 100px; width: 1420px;">
  <div class="respo">
  <div class="card-header" style="background-color: #2e3047; color: #fff;">
    <h4 style="text-align: left;">Liste des filières</h4>
  </div>

  <div class="card-body" style="border-style: solid; border-color: #2e3047 ;
  background-color: #fff;">
<div class="row">
  <div >
    <input  type = " text " id="cherche" class = "form-control " placeholder = "Recherche globale..."   name = " item " [(ngModel)] = "item"  style="height: 46px;
      margin-top: -18px;
      background-color: #f8f6f6;
      width: 1411px;
    /* width: 1347px;*/
      margin-left: -4px;"/>
  </div>
</div>
        <button class="btn btn-info fa fa-plus" (click)="parentModal.show(); vider();" style="float: left !important;/* margin: 5px; */font-size: 20px;height: 45px;margin-left: -18px;margin-bottom: 10px;margin-top: 5px;background-color: #2e3047;border-color: #2e3047;">Ajouter une filière</button>


  <div class="table-responsive">
    <table class="table table-bordered" style="text-align: center;">
      <thead>
      <tr>
        <th>Libell&eacute;</th>
        <th>Niveau</th>
        <th>D&eacute;partement</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor= "let filiere of filieres | filter: item|paginate: {itemsPerPage:5,currentPage:p}">
        <td>{{filiere.libelle}}</td>
        <td>{{filiere.niveau.libelle}}</td>
        <td>{{filiere.departement.libelle}}</td>
        <td>
          <button class="btn btn-danger btn-sm fa fa-trash" (click)="openModal(modal);"></button>
          <button class="btn btn-info btn-sm fa fa-edit" style="margin-left: 5px;" (click)="editModal.show();recupererF(filiere); findByFiliereLibelle(filiere);"></button>
        </td>
        <!--Confirmation du suppression-->
        <ng-template #modal>
          <div class="modal-body text-center">
            <p>Voulez-vous vraiment supprimer cette filière?</p>
            <button type="button" class="btn btn-success" (click)="confirm(); deleteByDesignation(filiere)"  >Oui</button>
            <button type="button" class="btn btn-danger" (click)="decline()" style="margin-left: 5px;" >Non</button>
          </div>
        </ng-template>

      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-img-overly">
    <pagination-controls (pageChange)=" p=$event " style="text-align: center;"></pagination-controls>
  </div>
</div>
</div>
</div>

<!--Ajouter filiere-->
<div class="modal fade" bsModal #parentModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #2e3047;">
        <h4 id="dialog-nested-name1" class="modal-title pull-left" style="color: #fff;">Ajouter une filière</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="parentModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label style="color: black; font-size: 20px;" >Libellé:</label>
            <input class="form-control" name="libelle" placeholder="Libell&eacute;" [(ngModel)]="filiere.libelle"
                   ngModel
                   required
                   #libelle="ngModel"
                   [ngClass]="{'form-control' : true,
                'is-invalid' : !libelle?.valid && libelle?.touched,
                  'is-valid' : libelle?.valid && libelle?.touched}">
            <small *ngIf="libelle?.errors?.required && libelle?.touched"
                   class="form-text text-danger">champs obligatoire</small>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label style="color: black; font-size: 20px;">Niveau:</label>
                <select class=" input-large form-control" name="niveau" [(ngModel)]="filiere.niveau.libelle" (change)="findByNiveauLibelle($event.target.value)" 
                        ngModel
                        required
                        #niveau="ngModel"
                        [ngClass]="{'form-control' : true,
                'is-invalid' : !niveau?.valid && niveau?.touched,
                  'is-valid' : niveau?.valid && niveau?.touched}">
                  <option selected>--Choisir un niveau--</option>
                  <option *ngFor="let niveau of niveaux" [value]="niveau.libelle" >{{niveau.libelle}}</option>
                </select>
                <small *ngIf="niveau?.errors?.required && niveau?.touched" class="form-text text-danger">champs obligatoire</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label style="color: black; font-size: 20px;" >Département:</label>
                <select class=" input-large form-control" name="departement" [(ngModel)]="filiere.departement.libelle" (change)="findByDepartementLibelle($event.target.value)"
                        ngModel
                        required
                        #departement="ngModel"
                        [ngClass]="{'form-control' : true,
                'is-invalid' : !departement?.valid && departement?.touched,
                  'is-valid' : departement?.valid && departement?.touched}">
                  <option selected>--Choisir un d&eacute;partement--</option>
                  <option *ngFor="let departement of departements" [value]="departement.libelle" >{{departement.libelle}}</option>
                </select>
                <small *ngIf="departement?.errors?.required && departement?.touched" class="form-text text-danger">champs obligatoire</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <label style="color: black; font-size: 20px;">Couleur:</label>
              <input type="color" [(ngModel)]="filiere.couleur" (change)="getColor($event.target.value)">
            </div>
          </div>
          <div class="card">
            <div class="card-header" style="background-color: #BFBFBF;color: #000; font-size: 20px;">Ajouter les modules</div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label style="color: black; font-size: 20px;">Libellé:</label>
                    <input class="form-control" name="lib" placeholder="Libell&eacute;" [(ngModel)]="module.libelle"
                           ngModel
                           required
                           #lib="ngModel"
                           [ngClass]="{'form-control' : true,
                         'is-invalid' : !lib?.valid && lib?.touched,
                         'is-valid' : lib?.valid && lib?.touched}">
                    <small *ngIf="lib?.errors?.required && lib?.touched" class="form-text text-danger">champs obligatoire</small>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label style="color: black; font-size: 20px;">Semestre:</label>
                    <select class=" input-large form-control" name="semestre" [(ngModel)]="module.semestre"
                            ngModel
                            required
                            #semestre="ngModel"
                            [ngClass]="{'form-control' : true,
                            'is-invalid' : !semestre?.valid && semestre?.touched,
                              'is-valid' : semestre?.valid && semestre?.touched}">
                      <option value="">--Choisir un semestre--</option>
                      <option *ngFor="let semestreN of niveauSemestres " [ngValue]="semestreN.semestre">{{semestreN.semestre.libelle}}</option>
                    </select>
                    <small *ngIf="semestre?.errors?.required && semestre?.touched"class="form-text text-danger">champs obligatoire</small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label style="color: black;">Professeur:</label>
                    <select class=" input-large form-control" name="professeur" [(ngModel)]="module.professeur"
                            ngModel
                            required
                            #professeur="ngModel"
                            [ngClass]="{'form-control' : true,
                                'is-invalid' : !professeur?.valid && professeur?.touched,
                                  'is-valid' : professeur?.valid && professeur?.touched}">
                      <option value="" >--Choisir un professeur--</option>
                      <option *ngFor="let professeur of professeurs" [ngValue]="professeur">{{professeur.nom}}</option>
                    </select>
                    <small *ngIf="professeur?.errors?.required && professeur?.touched"
                           class="form-text text-danger">champs obligatoire</small>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <div class="form-group">
                    <button class="btn btn-info btn-sm fa fa-plus btn-block" type="button" (click)="addModules()"></button>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" style="background-color: #BFBFBF;color: #000; font-size: 20px;">La liste des modules</div>
                <div class="card-body">
                  <table class="table table-bordered">
                    <thead>
                    <tr>
                      <th>Libell&eacute;</th>
                      <th>Semestre</th>
                      <th>Professeur</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let module of filiere.modules">
                      <td>{{module.libelle}}</td>
                      <td>{{module.semestre.libelle}}</td>
                      <td>{{module.professeur.nom}}</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="modal-body">
          <button class="btn btn-close pull-right" (click)="parentModal.hide();">Annuler</button>
          <button class="btn btn-ajout pull-right" style="margin-right: 5px;" (click)="saveFM();parentModal.hide();">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Modifier filiere-->
<div class="modal fade" bsModal #editModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header"  style="background-color: #2e3047;">
        <h4 id="dialog-nested-name1" class="modal-title pull-left" style="color: #fff;">Modifier filière</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>
          <div class="form-group">
            <label style="color: black; font-size: 20px;">Libellé:</label>
            <input class="form-control" name="libelle" placeholder="Libell&eacute;" [(ngModel)]="filiere.libelle">
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label style="color: black; font-size: 20px;">Niveau:</label>
                <select class=" input-large form-control" name="niveau" [(ngModel)]="filiere.niveau">
                  <option [ngValue]="niveau" [selected]="filiere.niveau.libelle">{{filiere.niveau.libelle}}</option>
                  <option *ngFor="let niveau of niveaux" [ngValue]="niveau">{{niveau.libelle}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label style="color: black; font-size: 20px;">Département:</label>
                <select class=" input-large form-control" name="departement" [(ngModel)]="filiere.departement" (change)="findByDepartementLibelle($event.target.value)">
                  <option [ngValue]="departement" [selected]="filiere.departement.libelle">{{filiere.departement.libelle}}</option>
                  <option *ngFor="let departement of departements" [value]="departement.libelle" >{{departement.libelle}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-info btn-sm" type="button" (click)="ajoutModal.show(); findByNiveauLibelle(filiere.niveau.libelle); findByDepartementLibelle(filiere.departement.libelle);">Ajouter modules</button>
          </div>
        </form>



        <div class="card">
          <div class="card-body">
            <div class="card-header" style="background-color: #BFBFBF;color: #000; font-size: 20px;"><h6>La liste des modules</h6></div>
            <div class="table-responsive table-bordered">
              <table class="table" style="text-align: center;">
                <thead>
                <tr>
                  <th>Module</th>
                  <th>Professeur</th>
                  <th>Semestre</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor= "let module of filiere.modules">
                  <td>{{module.libelle}}</td>
                  <td>{{module.professeur.nom}}</td>
                  <td>{{module.semestre.libelle}}</td>
                  <td>
                    <button class="btn btn-danger btn-sm fa fa-trash" (click)="openModal(modal2);"></button>
                    <button class="btn btn-info btn-sm fa fa-edit" style="margin-left: 5px;" (click)="modifeModal.show();recupererM(module); findByNiveauLibelle(module.filiere.niveau.libelle); findByDepartementLibelle(module.filiere.departement.libelle)"></button>
                  </td>
                  <!--Confirmation du suppression-->
                  <ng-template #modal2>
                    <div class="modal-body text-center">
                      <p>Voulez-vous vraiment supprimer ce module?</p>
                      <button type="button" class="btn btn-success" (click)="confirm(); deleteById(module)"  >Oui</button>
                      <button type="button" class="btn btn-danger" (click)="decline()" style="margin-left: 5px;" >Non</button>
                    </div>
                  </ng-template>

                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <button class="btn btn-outline-danger pull-right" (click)="editModal.hide();">Annuler</button>
        <button class="btn btn-outline-success pull-right" style="margin-right: 5px;" (click)=" editModal.hide(); update(filiere)">Modifier</button>
      </div>
    </div>
  </div>
</div>



<!--Editer module-->

<div class="modal fade" bsModal #modifeModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-nested-name1" class="modal-title pull-left">Modifier module</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modifeModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-module></app-module>

      </div>
    </div>
  </div>
</div>

<!--Ajouter module-->
<div class="modal fade" bsModal #ajoutModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #2e3047;">
        <h4 id="dialog-nested-name1" class="modal-title pull-left" style="color: #fff;">Ajouter module</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="ajoutModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label style="color: black; font-size: 20px;">Libellé:</label>
                <input class="form-control" name="libelle" placeholder="Libell&eacute;" [(ngModel)]="module.libelle"
                       ngModel
                       required
                       #li="ngModel"
                       [ngClass]="{'form-control' : true,
                'is-invalid' : !li?.valid && li?.touched,
                  'is-valid' : li?.valid && li?.touched}">
                <small *ngIf="li?.errors?.required && li?.touched"
                       class="form-text text-danger">champs obligatoire</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label style="color: black; font-size: 20px;">Semestre:</label>
                <select class=" input-large form-control" name="semestre" [(ngModel)]="module.semestre.libelle"
                        ngModel
                        required
                        #se="ngModel"
                        [ngClass]="{'form-control' : true,
                'is-invalid' : !se?.valid && se?.touched,
                  'is-valid' : se?.valid && se?.touched}">
                  <option value="" selected="selected">Choisir un semestre</option>
                  <option *ngFor="let niveauSemestre of niveauSemestres" [value]="niveauSemestre.semestre.libelle">{{niveauSemestre.semestre.libelle}}</option>
                </select>
                <small *ngIf="se?.errors?.required && se?.touched"
                       class="form-text text-danger">champs obligatoire</small>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label style="color: black;">Professeur:</label>
                <select class=" input-large form-control" name="professeur" [(ngModel)]="module.professeur"
                        ngModel
                        required
                        #professeur="ngModel"
                        [ngClass]="{'form-control' : true,
                            'is-invalid' : !professeur?.valid && professeur?.touched,
                              'is-valid' : professeur?.valid && professeur?.touched}">
                  <option value="" >--Choisir un professeur--</option>
                  <option *ngFor="let professeur of professeurs" [ngValue]="professeur">{{professeur.nom}}</option>
                </select>
                <small *ngIf="professeur?.errors?.required && professeur?.touched"
                       class="form-text text-danger">champs obligatoire</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-info btn-sm" type="button" (click)="saveM(module); ajoutModal.hide();">Ajouter</button>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>
