<div class="calendar" style="margin-top: 180px;
    background-color: white;
    padding-top: 20px;
    margin-left: -9px;
    width: 1640px !important;
    padding-left: 20px; ">
<div id="calendar" style="width:1600px;"></div>
</div>
<!--
<div id="alrt" style="margin-left: 45%"></div>

<script src="MindFusion.Scheduling.js" type="text/javascript"></script>
<script src="ItemEvents.js" type="text/javascript"></script>

<div class="container">
  <div id='calendar'></div>
  <div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <p></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center" style="margin-top: 180px; background-color: white; padding-top: 20px;">
  <full-calendar defaultView="dayGridMonth" header=""  [plugins]="calendarPlugins" [weekends]="false" [locales]="locales" locale="fr"></full-calendar>
</div>
-->
