<div class="wrapper">
  <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark shadow accordionbg-gradient-primary p-0" >
    <div class="container-fluid d-flex flex-column p-0">
      <hr class="sidebar-divider my-0"/>
      <ul id="accordinSidebar" class="nav navbar-nav text-light" >
        <li class="nav-item " role="presentation" style="
        margin-bottom: -25px;">
          <a class="nav-link" routerLink= "/admin/salles" routerLinkActive="active">
            <i class="fa fa-suitcase"></i> <span class="menu" style="
            margin-bottom: -25px;"> Salles</span>
          </a>  </li>
          <li class="nav-item " role="presentation" style="
          margin-bottom: -25px;">
            <a class="nav-link" routerLink= "/admin/etat"  routerLinkActive="active">
              <i class="fa fa-edit"></i><span class="menu" style="
              margin-bottom: -25px;">Etat</span> </a>
            </li>

        <li class="nav-item" role="presentation" style="
        margin-bottom: -25px;">
          <a class="nav-link " routerLink= "/admin/departements" routerLinkActive="active">
            <i class="fa fa-bank"></i>  <span class="menu" style="
            margin-bottom: -25px;">Departement</span>
          </a>
        </li>
        <li class="nav-item" role="presentation" style="
        margin-bottom: -25px;">
          <a class="nav-link " routerLink= "/admin/responsabilites"  routerLinkActive="active">
            <i class="fa fa-tasks"></i><span class="menu" style="
            margin-bottom: -25px;">Responsabilite</span>
          </a>
        </li>
        <li class="nav-item" role="presentation" style="
        margin-bottom: -25px;">
          <a class="nav-link " routerLink= "/professeurs"  routerLinkActive="active">
            <i class="fa fa-user"></i><span class="menu" style="
            margin-bottom: -25px;">Professeurs</span>
          </a>
        </li>
        <li class="nav-item" role="presentation" style="
        margin-bottom: -25px;">
          <a class="nav-link " routerLink= "/surveillants"  routerLinkActive="active">
            <i class="fa fa-user-times"></i> <span class="menu" style="
            margin-bottom: -25px;">Surveillants</span>
          </a>
        </li>
        <li class="nav-item" role="presentation" style="
        margin-bottom: -25px;">
          <a class="nav-link " routerLink= "/admin/personnels"  routerLinkActive="active">
            <i class="fa fa-group"></i> <span class="menu" style="
            margin-bottom: -25px;">Personnels</span>
          </a>
        </li>
        <li class="nav-item" role="presentation" style="
        margin-bottom: -25px;">
          <a class="nav-link " routerLink= "/admin/modules"  routerLinkActive="active">
            <i class="fa fa-book"></i> <span class="menu">Modules</span>
          </a>
        </li>
        <li class="nav-item" role="presentation" style="
        margin-bottom: -25px;">
          <a class="nav-link " routerLink= "/admin/fillieres"  routerLinkActive="active">
            <i class="fa fa-bookmark"></i> <span class="menu" style="
            margin-bottom: -25px;">Filliere</span>
          </a>
        </li>
        <li class="nav-item" role="presentation" style="
        margin-bottom: -25px;">
          <a class="nav-link " routerLink= "/admin/etudiants"  routerLinkActive="active">
            <i class="fa fa-graduation-cap"></i> <span class="menu" style="
            margin-bottom: -25px;">Etudiant</span>
          </a>
        </li>
        <li class="nav-item" role="presentation" style="
        margin-bottom: -25px;">
          <a class="nav-link " routerLink= "/admin/exams"  routerLinkActive="active">
            <i class="fa fa-clock-o"></i> <span class="menu" style="
            margin-bottom: -25px;">Exam</span>
          </a>
        </li>
        <li class="nav-item" role="presentation" style="
        margin-bottom: -25px;">
          <a class="nav-link " routerLink= "/admin/calendars"  routerLinkActive="active">
            <i class="fa fa-calendar"></i> <span class="menu" >Calendrier</span>
          </a>
        </li>
      </ul>
      </div>
  </nav>
</div>

