
<!--<div > <p-menu [model]="menuItems" class="layout-menu-container"></p-menu> </div>

<div class="layout-menu-container">
    <div class="menu-scroll-content">
        <h5 class="logo">    </h5>
      <br>
        <img src="https://static.vecteezy.com/system/resources/previews/000/353/993/non_2x/calendar-vector-icon.jpg" alt="calendar">
    </div>
    <hr>

    <ul class="layout-menu layout-main-menu clearfix">
        <li>
          <a routerLink= "/" class="link" routerLinkActive="active">Salles</a><a routerLink= "/etat" class="li" routerLinkActive="active">.<i class="fas fa-user-edit"></i>Etat</a>
        </li><br>
        <br>
        <li>
            <a routerLink= "/departements" class="li" routerLinkActive="active">Départements</a>
        </li><br>
        <br>
        <li>
            <a routerLink= "/responsabilites" class="li" routerLinkActive="active">.<i class="fad fa-analytics"></i><i class="fad fa-abacus"></i><i class="fas fa-list-ol"></i>Responsabilites</a>
        </li><br>
        <br>
        <li>
            <a routerLink= "/professeurs" class="li" routerLinkActive="active">Professeurs</a>
        </li><br>
        <br>
        <li>
            <a routerLink= "/surveillants" class="li" routerLinkActive="active"><i class="fas fa-user-tie"></i>Surveillants</a>
        </li><br>
      <br>
      <li>
            <a routerLink= "/exams" class="li" routerLinkActive="active">Exams</a>
        </li>

    </ul>
</div>
-->
<!--
<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordionbg-gradient-primary p-0" >
  <div class="container-fluid d-flex flex-column p-0">
    <hr class="sidebar-divider my-0"/>
    <ul id="accordinSidebar" class="nav navbar-nav text-light">
      <li class="nav-item" role="presentation">
        <a class="nav-link " routerLink= "/salles" routerLinkActive="active">
         <i class="fa fa-suitcase"></i> <span> Salles</span>

        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link " routerLink= "/departements" routerLinkActive="active">
        <i class="fa fa-bank"></i>  <span>Departement</span>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link " routerLink= "/responsabilites"  routerLinkActive="active">
           <i class="fa fa-tasks"></i><span>Responsabilite</span>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link " routerLink= "/professeurs"  routerLinkActive="active">
           <i class="fa fa-user"></i><span>Professeurs</span>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link " routerLink= "/surveillants"  routerLinkActive="active">
           <i class="fa fa-group"></i> <span>Surveillants</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="sidebar">
  <header>Gestion des exams</header>
  <ul>
    <li><a href="#"><i class="fa fa-times"></i>kdldqsdlq</a></li>
    <li><a href="#"><i class="fa fa-times"></i>kdldqsdlq</a></li>
    <li><a href="#"><i class="fa fa-times"></i>kdldqsdlq</a></li>
    <li><a href="#"><i class="fa fa-times"></i>kdldqsdlq</a></li>
    <li><a href="#"><i class="fa fa-times"></i>kdldqsdlq</a></li>
    <li><a href="#"><i class="fa fa-times"></i>kdldqsdlq</a></li>
    <li><a href="#"><i class="fa fa-times"></i>kdldqsdlq</a></li>
    <li><a href="#"><i class="fa fa-times"></i>kdldqsdlq</a></li>
    <li><a href="#"><i class="fa fa-times"></i>kdldqsdlq</a></li>
    <li><a href="#"><i class="fa fa-times"></i>kdldqsdlq</a></li>
    <li><a href="#"><i class="fa fa-times"></i>kdldqsdlq</a></li>
  </ul>
</div>


<input type="checkbox" id="check">
<label for="check">
  <i class="fa fa-bars" id="btn"></i>
  <i class="fa fa-times" id="cancel"></i>
</label>
<div class="sidebar">
  <header>My App</header>
  <ul>
    <li><a href="#"><i class="fa fa-qrcode"></i>Dashboard</a></li>
    <li><a href="#"><i class="fa  fa-link"></i>Shortcuts</a></li>
    <li><a href="#"><i class="fa fa-stream"></i>Overview</a></li>
    <li><a href="#"><i class="fa fa-calendar-week"></i>Events</a></li>
    <li><a href="#"><i class="fa fa-question-circle"></i>About</a></li>
    <li><a href="#"><i class="fa fa-sliders-h"></i>Services</a></li>
    <li><a href="#"><i class="fa fa-envelope"></i>Contact</a></li>
  </ul>
</div>
<section></section>
-->
<div class="wrapper">
  <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordionbg-gradient-primary p-0" >
    <div class="container-fluid d-flex flex-column p-0">
      <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fa fa-calendar-check-o"></i>
      </div>
      <div class="sidebar-brand-text mx-3">
        <span>Gestion des exams</span>
      </div>
      </a>
      <hr class="sidebar-divider my-0"/>
      <ul id="accordinSidebar" class="nav navbar-nav text-light">
        <li class="nav-item " role="presentation">
          <a class="nav-link" routerLink= "/salles" routerLinkActive="active">
            <i class="fa fa-suitcase"></i> <span> Salles</span>
          </a>  </li>
          <li class="nav-item " role="presentation">
            <a class="nav-link" routerLink= "/etat"  routerLinkActive="active">
              <i class="fa fa-edit"></i><span>Etat</span> </a>
            </li>

        <li class="nav-item" role="presentation">
          <a class="nav-link " routerLink= "/departements" routerLinkActive="active">
            <i class="fa fa-bank"></i>  <span>Departement</span>
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link " routerLink= "/responsabilites"  routerLinkActive="active">
            <i class="fa fa-tasks"></i><span>Responsabilite</span>
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link " routerLink= "/professeurs"  routerLinkActive="active">
            <i class="fa fa-user"></i><span>Professeurs</span>
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link " routerLink= "/surveillants"  routerLinkActive="active">
            <i class="fa fa-group"></i> <span>Surveillants</span>
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link " routerLink= "/modules"  routerLinkActive="active">
            <i class="fa fa-book"></i> <span>Modules</span>
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link " routerLink= "/fillieres"  routerLinkActive="active">
            <i class="fa fa-bookmark"></i> <span>Filliere</span>
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link " routerLink= "/etudiants"  routerLinkActive="active">
            <i class="fa fa-graduation-cap"></i> <span>Etudiant</span>
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link " routerLink= "/exams"  routerLinkActive="active">
            <i class="fa fa-clock-o"></i> <span>Exam</span>
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link " routerLink= "/calendars"  routerLinkActive="active">
            <i class="fa fa-calendar"></i> <span>Calendrier</span>
          </a>
        </li>
      </ul>
      </div>
  </nav>
</div>

