<div class="row" style="margin-top: 200px;">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header"  style="background-color: #2e3047; color: #fff;">Profil</div>
      <div class="card-body"><div class="table-responsive">

        <table class="table table-bordered ">
          <tr>
            <th  class="thead-light">Nom d'utilisateur</th>
            <td colspan="3">{{currentUser.username}}</td>
          </tr>
          <tr>
            <th  class="thead-light">Nom</th>
            <td colspan="3">{{currentUser.lastName}}</td>
          </tr>
          <tr>
            <th  class="thead-light">Prénom</th>
            <td colspan="3">{{currentUser.firstName}}</td>
          </tr>
          <tr>
            <th  class="thead-light">Email</th>
            <td colspan="3">{{currentUser.email}}</td>
          </tr>
          <tr>
            <th  class="thead-light">Departement</th>
            <td colspan="3">{{currentUser.departement}}</td>
          </tr>
          <tr>
            <th  class="thead-light">Action </th>
            <td colspan="3"><a (click)="parentModal.show();" style="color: #2e3047;"> <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Modifier les champs</a></td>
          </tr>
        </table>
      </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>




<div class="modal fade" bsModal #parentModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #2e3047;">
        <h4 id="dialog-nested-name1" class="modal-title pull-left" style="color: #fff;">Modifier</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="parentModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<h1 *ngIf="!isAddMode"></h1>
<form [formGroup]="ResponseResetForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col">
      <label for="firstName">Prénom</label>
      <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
      <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
        <div *ngIf="f.firstName.errors.required">Prénom requis</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="lastName">Nom</label>
      <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
      <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
        <div *ngIf="f.lastName.errors.required">Nom requis</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label for="username">Nom d'utilisateur</label>
      <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Nom d'utilisateur requis</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="password">
        Mot de passe
        <em *ngIf="!isAddMode">(Laisser en blanc pour conserver le même mot de passe)</em>
      </label>
      <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Mot de passe requis</div>
        <div *ngIf="f.password.errors.minlength">Le mot de passe doit être au moins de 6 caractères</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div style="margin-left: 2px !important; width: 550px !important;">
      <label for="email">Email</label>
      <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors.required">mail requis</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-close pull-right" (click)="parentModal.hide();"  style="margin-right: 10px !important;">
      Annuler
    </button>
    <button [disabled]="loading" class="btn btn-primary btn-ajout pull-right" (click)="parentModal.hide();" style="margin-right:6px !important;">Modifier</button>
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
  </div>
</form>
      </div>
    </div>
  </div>
</div>
