a{
  color: blue;
  font-size: 18px;
}

a :hover{
  color: darkblue;
}

a :focus{
  color: darkblue;
}
.btn-primary{
  color: #2e3047;
  background-color: #3bba9c;
  border-color: #24C2FF;
}
.btn-close{
  color: #41403f;
  background-color: #8d8c8a;
  border-color: #636261;
}
