@media (max-width: 952px) {
  .respo {
    width: 552px !important;
    height: 300px !important;
    margin-top: 10px !important;
    margin-left: -170px !important;
  }
  #cherche {
    width: 542px !important;
    height: 15px;
  }
  .btn-info {
    width: 220px !important;
    height: 40px !important;
  }
}
