<!--Liste des Exams-->
<div class="card">
  <div class="card-img-overly">
    <h6 style="text-align: center;">Liste des Exams</h6>
    <div class="row">
      <div class="col-md-4">
        <input  type = " text " class = " search-query form-control " placeholder = " Chercher...  "   name = " item " [(ngModel)] = "item" style="width: 200px; margin-bottom: 5px;"/>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button class="btn btn-info fa fa-plus" (click)="parentModal.show();vider();" style="float: right !important;">Ajouter</button>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table" style="text-align: center;">
      <thead>
      <th>Reference</th>
      <th>DateDepart</th>
      <th>DateFin</th>
      <th>Professeur</th>
      <th>Modules</th>
      <th>Surveillants</th>
      <th>Salles</th>
      <th>Actions</th>
      </thead>
      <tbody>
      <tr *ngFor="let e of exams|filter: item|paginate: {itemsPerPage:4,currentPage:p}">
        <td>{{e.reference}}</td>
        <td>{{e.dateDepart}}</td>
        <td>{{e.dateFin}}</td>
        <td>{{e.prof.nom}}</td>
        <td >{{e.module.libelle}}</td>
        <td> <button class="btn btn-success btn-sm " style="margin-left: 5px;"  (click)=" ModalSurveillant.show();recuperer(e, e.id);findSurveillantByExamReference(exam);">Liste Surve</button></td>
        <td> <button class="btn btn-success btn-sm " style="margin-left: 5px;"  (click)=" ModalSalle.show();recuperer(e, e.id);findSalleByExamReference(exam);">Liste Salle</button></td>
     <td *ngFor="let examSurveillant of e.examSurveillants ">{{examSurveillant.surveillant.nom}}</td>
        <td *ngFor="let examSalle of e.examSalles">{{examSalle.salle.designation}}</td>

        <td>
          <button class="btn btn-danger btn-sm fa fa-trash"  (click)="openModal(template)"></button>
          <button class="btn btn-info btn-sm fa fa-edit" style="margin-left: 5px;" (click)="editModal.show();recuperer(e, e.id); findSalleByExamReference(exam); findSurveillantByExamReference(exam);"></button>
        </td>

        <ng-template #template >
          <div class="modal-body text-center">
            <p>Voulez-vous vraiment supprimer ce examen?</p>
            <button type="button" class="btn btn-success" (click)="confirm();deleteByReference(e);" >Oui</button>
            <button  type="button" class="btn btn-danger" (click)="decline()" style="margin-left: 5px;" >Non</button>
          </div>
        </ng-template>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-img-overly">
    <pagination-controls (pageChange)=" p=$event " style="margin-left: 50px;"></pagination-controls>
  </div>
</div>


<!--Ajouter exam-->
<div class="modal fade" bsModal #parentModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-nested-name1" class="modal-title pull-left">Ajouter exam</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="parentModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-7" style="margin-left: 140px;">
          <div class="form-group">
            <input   class="form-control" name="reference" placeholder="Reference" [(ngModel)]="exam.reference"
                   ngModel
                   required
                   #reference="ngModel"
                   [ngClass]="{'form-control' : true,
                'is-invalid' : !reference?.valid && reference?.touched,
                  'is-valid' : reference?.valid && reference?.touched}">
            <small *ngIf="reference?.errors?.required && reference?.touched"
                   class="form-text text-danger">champs obligatoire</small>
          </div>
            </div>
            <div class="col-md-6">
          <div class="form-group">
            <input type="datetime-local" id="exam-time"
                    placeholder="dateDepart"
                   min="2020-01-01T00:00" max="2020-07-01T00:00"
                   class="form-control" name="dateDepart" [(ngModel)]="exam.dateDepart"
                   ngModel
                   required
                   #dateDepart="ngModel"
                   [ngClass]="{'form-control' : true,
                'is-invalid' : !dateDepart?.valid && dateDepart?.touched,
                  'is-valid' : dateDepart?.valid && dateDepart?.touched}">
            <small *ngIf="dateDepart?.errors?.required && dateDepart?.touched"
                   class="form-text text-danger">champs obligatoire</small>
          </div></div>
            <div class="col-md-6">
          <div class="form-group">
            <input type="datetime-local" id="exam-time"
                   min="2020-01-01T00:00" max="2020-07-01T00:00"
            value="2020-05-12T19:30" class="form-control" name="dateFin"  [(ngModel)]="exam.dateFin"
                   ngModel
                   required
                   #dateFin="ngModel"
                   [ngClass]="{'form-control' : true,
                'is-invalid' : !dateFin?.valid && dateFin?.touched,
                  'is-valid' : dateFin?.valid && dateFin?.touched}">
            <small *ngIf="dateFin?.errors?.required && dateFin?.touched"
                   class="form-text text-danger">champs obligatoire</small>
          </div>
            </div>
            <div class="col-md-6">
          <div class="form-group">
            <select class=" input-large form-control" name="prof" [(ngModel)]="exam.prof"
                    ngModel
                    required
                    #prof="ngModel"
                    [ngClass]="{'form-control' : true,
                'is-invalid' : !prof?.valid && prof?.touched,
                  'is-valid' : prof?.valid && prof?.touched}">
              <option value="">--Choisir un prof--</option>
              <option *ngFor="let prof of professeurs" [ngValue]="prof">{{prof.nom}}</option>
            </select>
            <small *ngIf="prof?.errors?.required && prof?.touched" class="form-text text-danger">champs obligatoire</small>
          </div>
            </div>
            <div class="col-md-6">
          <div class="form-group">
            <select class=" input-large form-control" name="module" [(ngModel)]="exam.module"
                    ngModel
                    required
                    #module="ngModel"
                    [ngClass]="{'form-control' : true,
                'is-invalid' : !module?.valid && module?.touched,
                  'is-valid' : module?.valid && module?.touched}">
              <option *ngFor="let module of modules" [ngValue]="module" >{{module.libelle}}</option>
            </select>
            <small *ngIf="module?.errors?.required && module?.touched" class="form-text text-danger">champs obligatoire</small>
          </div></div>
          </div>
<div class="row">
<div class="col-md-7" style="margin-left: 140px;">
            <div class="form-group" >
              <select class=" input-large form-control" name="surveillant" (change)="recupererPerso($event.target.value)"
                      ngModel
                      required
                      #surveillant="ngModel"
                      [ngClass]="{'form-control' : true,
                'is-invalid' : !surveillant?.valid && surveillant?.touched,
                  'is-valid' : surveillant?.valid && surveillant?.touched}" >

                <option *ngFor="let surve of personnels" [value]="surve.nom">{{surve.nom}}</option>
              </select>
              <small *ngIf="surveillant?.errors?.required && surveillant?.touched" class="form-text text-danger">champs obligatoire</small>
            </div></div>

  <div class="form-group">
  <button class="btn btn-info btn-sm fa fa-plus btn-block" type="button" (click)="addPersonnel(perso);" style="height: 36px; margin-left: -15px; width: 40px;"></button>
  </div>

<!-- debut liste d'ajout des surveillants-->
  <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="card-header"><h6>La liste des Surveillants</h6></div>
              <div class="table-responsive">
                <table class="table" style="text-align: center;">
                  <thead>
                  <tr>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Email</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor= "let surve of exam.examSurveillants">
                    <td>{{surve.surveillant.nom}}</td>
                    <td>{{surve.surveillant.prenom}}</td>
                    <td>{{surve.surveillant.mail}}</td>

                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
</div>
</div>
          <!-- fin liste d'ajout des surveillants-->
          <br>
<div class="row">
          <div class="col-md-7" style="margin-left: 140px;">
            <div class="form-group">
              <select class=" input-large form-control" name="salle"  (change)="recupererSalle($event.target.value);"
                      ngModel
                      required
                      #salle="ngModel"
                      [ngClass]="{'form-control' : true,
                'is-invalid' : !salle?.valid && salle?.touched,
                  'is-valid' : salle?.valid && salle?.touched}" >

                <option *ngFor="let s of salles" [value]="s.designation" >{{s.designation}}</option>
              </select>
              <small *ngIf="salle?.errors?.required && salle?.touched" class="form-text text-danger">champs obligatoire</small>
            </div>
          </div>
  <div class="form-group">
              <button class="btn btn-info btn-sm fa fa-plus btn-block" type="button" (click)="addSalle(sal)" style="height: 36px; margin-left: -15px; width: 40px;"></button>
            </div>
  <!-- debut liste d'ajout des salles-->
<div class="col-md-12">

          <div class="card">
            <div class="card-body">
              <div class="card-header"><h6>La liste des Salles</h6></div>
              <div class="table-responsive">
                <table class="table" style="text-align: center;">
                  <thead>
                  <tr>
                    <th>Designation</th>
                    <th>Capacite</th>
                    <th>Etat</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor= "let sa of exam.examSalles">
                    <td>{{sa.salle.designation}}</td>
                    <td>{{sa.salle.capacite}}</td>
                    <td>{{sa.salle.etat}}</td>

                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          </div>
</div>
          <!-- fin liste d'ajout des salles-->
        </form>
        <div class="modal-body">
          <button class="btn btn-outline-danger pull-right" (click)="parentModal.hide();">Annuler</button>
          <button class="btn btn-outline-success pull-right" style="margin-right: 5px;" (click)="save();parentModal.hide();">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
</div>



<!--Modifier exam-->
<div class="modal fade" bsModal #editModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-nested-name1" class="modal-title pull-left">Modifier exam</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input   class="form-control" name="reference" placeholder="Reference" [(ngModel)]="exam.reference"
                         ngModel
                         required
                         #reference="ngModel"
                         [ngClass]="{'form-control' : true,
                'is-invalid' : !reference?.valid && reference?.touched,
                  'is-valid' : reference?.valid && reference?.touched}">
                <small *ngIf="reference?.errors?.required && reference?.touched"
                       class="form-text text-danger">champs obligatoire</small>
              </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
              <input type="datetime-local" id="exam-time"
                     value="2020-05-12T19:30"
                     class="form-control" name="dateDepart" [(ngModel)]="exam.dateDepart"
                     ngModel
                     required
                     #dateDepart="ngModel"
                     [ngClass]="{'form-control' : true,
                'is-invalid' : !dateDepart?.valid && dateDepart?.touched,
                  'is-valid' : dateDepart?.valid && dateDepart?.touched}">
              <small *ngIf="dateDepart?.errors?.required && dateDepart?.touched"
                     class="form-text text-danger">champs obligatoire</small>
            </div></div>
            <div class="col-md-6">
            <div class="form-group">
              <input type="datetime-local" id="exam-time"
                     value="2020-05-12T19:30" class="form-control" name="dateFin"  [(ngModel)]="exam.dateFin"
                     ngModel
                     required
                     #dateFin="ngModel"
                     [ngClass]="{'form-control' : true,
                'is-invalid' : !dateFin?.valid && dateFin?.touched,
                  'is-valid' : dateFin?.valid && dateFin?.touched}">
              <small *ngIf="dateFin?.errors?.required && dateFin?.touched"
                     class="form-text text-danger">champs obligatoire</small>
            </div></div>
            <div class="col-md-6">
              <div class="form-group">
                <select class=" input-large form-control" name="prof" [(ngModel)]="exam.prof"
                        ngModel
                        required
                        #prof="ngModel"
                        [ngClass]="{'form-control' : true,
                'is-invalid' : !prof?.valid && prof?.touched,
                  'is-valid' : prof?.valid && prof?.touched}">
                  <option [ngValue]="prof" [selected]="exam.prof.nom">{{exam.prof.nom}}</option>
                  <option *ngFor="let prof of professeurs" [ngValue]="prof">{{prof.nom}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
            <div class="form-group">
              <select class=" input-large form-control" name="module" [(ngModel)]="exam.module"
                      ngModel
                      required
                      #prof="ngModel"
                      [ngClass]="{'form-control' : true,
                'is-invalid' : !module?.valid && module?.touched,
                  'is-valid' : module?.valid && module?.touched}">
                <option [ngValue]="module" [selected]="exam.module.libelle">{{exam.module.libelle}}</option>
                <option *ngFor="let module of modules" [ngValue]="module">{{module.libelle}}</option>
              </select>
              <small *ngIf="module?.errors?.required && module?.touched" class="form-text text-danger">champs obligatoire</small>
            </div>
          </div>

          </div>
          <div class="form-group">
            <button class="btn btn-info btn-sm" type="button" (click)="ajoutSurveillant.show(); ">Ajouter surveillants</button>
          </div>
        </form>
        <!-- liste d'edite des surveillants -->
        <div class="card">
          <div class="card-body">
            <div class="card-header"><h6>La liste des Surveillants</h6></div>
            <div class="table-responsive">
              <table class="table" style="text-align: center;">
                <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prenom</th>
                  <th>Email</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor= "let surve of exam.examSurveillants">
                  <td>{{surve.surveillant.nom}}</td>
                  <td>{{surve.surveillant.prenom}}</td>
                  <td>{{surve.surveillant.mail}}</td>
                  <td>
                  <button class="btn btn-danger btn-sm fa fa-trash" (click)="openModal(modalSu);"></button>
                </td>
                  <!--Confirmation du suppression-->
                  <ng-template #modalSu>
                    <div class="modal-body text-center">
                      <p>Voulez-vous vraiment supprimer ce surveillant?</p>
                      <button type="button" class="btn btn-success" (click)="confirm();"  >Oui</button>
                      <button type="button" class="btn btn-danger" (click)="decline()" style="margin-left: 5px;" >Non</button>
                    </div>
                  </ng-template>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
<br>
      <div class="form-group">
        <button class="btn btn-info btn-sm" type="button" (click)="ajoutSalle.show(); ">Ajouter salles</button>
      </div>
      <!-- liste d'edite des salles -->
      <div class="card">
        <div class="card-body">
          <div class="card-header"><h6>La liste des Salles</h6></div>
          <div class="table-responsive">
            <table class="table" style="text-align: center;">
              <thead>
              <tr>
                <th>Designation</th>
                <th>Capacite</th>
                <th>Etat</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor= "let sal of exam.examSalles">
                <td>{{sal.salle.designation}}</td>
                <td>{{sal.salle.capacite}}</td>
                <td>{{sal.salle.etat}}</td>
                <td>
                  <button class="btn btn-danger btn-sm fa fa-trash" (click)="openModal(modalSa);"></button>
                </td>
                <!--Confirmation du suppression-->
                <ng-template #modalSa>
                  <div class="modal-body text-center">
                    <p>Voulez-vous vraiment supprimer cette salle?</p>
                    <button type="button" class="btn btn-success" (click)="confirm(); deleteExamBySalleDesignation(sal);"  >Oui</button>
                    <button type="button" class="btn btn-danger" (click)="decline()" style="margin-left: 5px;" >Non</button>
                  </div>
                </ng-template>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      </div>
      <div class="modal-body">
        <button class="btn btn-outline-danger pull-right" (click)="editModal.hide();">Annuler</button>
        <button class="btn btn-outline-success pull-right" style="margin-right: 5px;" (click)="editModal.hide();update(exam.id,exam.reference,exam.dateDepart,exam.dateFin,exam.module,exam.prof);thirdModal2.show();refresh();">Editer</button>
      </div>
      </div>
    </div>
  </div>



<!--liste des surveillants-->
<div class="modal fade" bsModal #ModalSurveillant="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="card-header"><h6>La liste des Surveillants</h6></div>
            <div class="table-responsive">
              <table class="table" style="text-align: center;">
                <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prenom</th>
                  <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor= "let surve of exam.examSurveillants">
                  <td>{{surve.surveillant.nom}}</td>
                  <td>{{surve.surveillant.prenom}}</td>
                  <td>{{surve.surveillant.mail}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>




<!--liste des salles-->
<div class="modal fade" bsModal #ModalSalle="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <div class="card">
          <div class="card-body">
            <div class="card-header"><h6>La liste des Salles</h6></div>
            <div class="table-responsive">
              <table class="table" style="text-align: center;">
                <thead>
                <tr>
                  <th>Designation</th>
                  <th>Capacite</th>
                  <th>Etat</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor= "let sal of exam.examSalles">
                  <td>{{sal.salle.designation}}</td>
                  <td>{{sal.salle.capacite}}</td>
                  <td>{{sal.salle.etat}}</td>

                </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>

<!-- confirmaton de l'edit-->
<div class="modal fade" bsModal #thirdModal2="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name3" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content" id="thirdModal2">
      <div class="modal-body">
        la salle est editee .
      </div>
    </div>
  </div>
</div>

<!-- ajouter surveillant-->
<div class="modal fade" bsModal #ajoutSurveillant="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-nested-name1" class="modal-title pull-left">Ajouter Surveillants</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="ajoutSurveillant.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <select class=" input-large form-control" name="surveillant" (change)="recupererSurv($event.target.value)"
                        ngModel
                        required
                        #surveillant="ngModel"
                        [ngClass]="{'form-control' : true,
                'is-invalid' : !surveillant?.valid && surveillant?.touched,
                  'is-valid' : surveillant?.valid && surveillant?.touched}" >

                  <option *ngFor="let surve of surveillants" [value]="surve.nom">{{surve.nom}}</option>
                </select>
                <small *ngIf="surveillant?.errors?.required && surveillant?.touched" class="form-text text-danger">champs obligatoire</small>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-info btn-sm" type="button" (click)="addSurveillant(surveill)">Ajouter</button>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>
<!-- ajouter salle-->
<div class="modal fade" bsModal #ajoutSalle="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-nested-name1" class="modal-title pull-left">Ajouter Salles</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="ajoutSalle.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <select class=" input-large form-control" name="salle"  (change)="recupererSalle($event.target.value)"
              ngModel
              required
              #salle="ngModel"
              [ngClass]="{'form-control' : true,
                'is-invalid' : !salle?.valid && salle?.touched,
                  'is-valid' : salle?.valid && salle?.touched}" >

        <option *ngFor="let s of salles" [value]="s.designation">{{s.designation}}</option>
      </select>
      <small *ngIf="salle?.errors?.required && salle?.touched" class="form-text text-danger">champs obligatoire</small>
    </div>
</div></div>
          <div class="form-group">
            <button class="btn btn-info btn-sm" type="button" (click)="addSalle(sal)">Ajouter</button>
          </div>

        </form>


      </div>
    </div>
  </div>
</div>
