<!--Liste des departements-->
<div class="card">
  <div class="card-img-overly">
    <h6 style="text-align: center;">Liste des Departements</h6>
    <div class="row">
      <div class="col-md-4">

        <input  type = " text " class = " search-query form-control " placeholder = " Chercher...  "   name = " item " [(ngModel)] = "item" style="width: 200px; margin-bottom: 5px;"/>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button class="btn btn-info fa fa-plus" (click)="parentModal.show()" style="float: right !important;">Ajouter</button>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table" style="text-align: center;">
      <thead>
      <th>Libelle</th>
      <th>Actions</th>
      <th></th>
      </thead>
      <tbody>
      <tr *ngFor="let d of departements|filter: item|paginate: {itemsPerPage:4,currentPage:p}">
        <td>{{d.libelle}}</td>
        <td>
          <button class="btn btn-danger btn-sm fa fa-trash"  (click)="openModal(template)"></button>
          <button class="btn btn-info btn-sm fa fa-edit" style="margin-left: 5px;"  (click)=" recuperer(d,d.id); editModal.show();"></button>
        </td>
        <!--Confirmation du suppression-->
        <ng-template #template >
          <div class="modal-body text-center">
            <p>Voulez-vous vraiment supprimer cette departement?</p>
            <button type="button" class="btn btn-success" (click)="confirm();deleteByLibelle(d);" >Oui</button>
            <button  type="button" class="btn btn-danger" (click)="decline()" style="margin-left: 5px;" >Non</button>
          </div>
        </ng-template>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="card-footer">
    <pagination-controls (pageChange)=" p=$event " style="margin-left: 50px;"></pagination-controls>
  </div>
</div>



<!--Ajouter departement-->
<div class="modal fade" bsModal #parentModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-nested-name1" class="modal-title pull-left">Ajouter Departement</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="parentModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input id="float-input" type="text" size="30" pInputText placeholder="Libelle" name="libelle" [(ngModel)]="departement.libelle"
                   ngModel
                   required
                   #libelle="ngModel"
                   [ngClass]="{'form-control' : true,
                     'is-invalid' : !libelle?.valid && libelle?.touched,
                     'is-valid' : libelle?.valid && libelle?.touched}">
            <small *ngIf="libelle?.errors?.required && libelle?.touched"
                   class="form-text custom-invalid-feedback">champs obligatoire</small>
          </div>



        </form>
        <div class="modal-body">
          <button class="btn btn-outline-danger pull-right" (click)="parentModal.hide();">Annuler</button>
          <button class="btn btn-outline-success pull-right" style="margin-right: 5px;" (click)="save();parentModal.hide();">Ajouter</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- alerte-->

<div *ngIf="display==-1; then erreur" ></div>
<ng-template #erreur >
  <div class="modal-body text-center alert-danger">
    Attention! departement existe déja
  </div>
</ng-template>


<div *ngIf="display==1; then reussi" ></div>
<ng-template #reussi >
  <div class="modal-body text-center alert-success">
    Departement est ajoutée avec succés
  </div>
</ng-template>

<!--Modifier departement-->
<div class="modal fade" bsModal #editModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-nested-name1" class="modal-title pull-left">Modifier departement</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="editModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form>
          <div class="form-group">
            <input id="float-input" type="text" size="30" pInputText placeholder="Libelle" name="libelle" [(ngModel)]="departement.libelle"
                   ngModel
                   required
                   #libelle="ngModel"
                   [ngClass]="{'form-control' : true,
                     'is-invalid' : !libelle?.valid && libelle?.touched,
                     'is-valid' : libelle?.valid && libelle?.touched}">
            <small *ngIf="libelle?.errors?.required && libelle?.touched"
                   class="form-text custom-invalid-feedback">champs obligatoire</small>
          </div>


        </form>
        <div class="modal-body">
          <button class="btn btn-outline-danger pull-right" (click)="editModal.hide();">Annuler</button>
          <button class="btn btn-outline-success pull-right" style="margin-right: 5px;" (click)="editModal.hide();update(departement.id,departement.libelle);">Editer</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" bsModal #thirdModal2="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name3" >
  <div class="modal-dialog modal-sm">
    <div class="modal-content" id="thirdModal2">
      <div class="modal-body">
        le departement est editee .
      </div>
    </div>
  </div>
</div>
