<div style="margin-top: 180px;margin-left: -90px; width: 1420px;">
<div >
  <div class="card-header" style="background-color: #2e3047; color: #fff;">
    <h4 style="text-align: left;">Liste des Personnel</h4>
  </div>
  <div class="card-body" style="border-style: solid; border-color: #2e3047 ;
 background-color: #fff;">
    <div class="row">
      <div >
        <input  type = " text " class = "form-control " placeholder = "Recherche globale..."   name = " item " [(ngModel)] = "item"  style="height: 46px;
      margin-top: -18px;
      background-color: #f8f6f6;
      width: 1411px;
    /* width: 1347px;*/
      margin-left: -4px;"/>
      </div>
    </div>
    <button class="btn btn-info fa fa-plus" style="float: left !important;/* margin: 5px; */font-size: 20px;height: 45px;margin-left: -18px;margin-bottom: 10px;margin-top: 5px;background-color: #2e3047;border-color: #2e3047;">Ajouter personnel</button>
  <div class="table-responsive">
    <table class="table table-bordered" style="text-align: center;">

      <thead>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Mail</th>
      </thead>
      <tbody>
      <tr *ngFor="let p of personnels|filter: item|paginate: {itemsPerPage:5,currentPage:p}">

        <td>{{p.nom}}</td>

        <td>{{p.prenom}}</td>

        <td>{{p.mail}}</td>
      </tr>

      </tbody>

    </table>
  </div>
  <div class="card-img-overly">
    <pagination-controls style="position: center" (pageChange)=" p=$event "></pagination-controls>
  </div>
  </div>

</div>

