
<div class="form">
  <div class="tab-content">
    <div id="signup">
      <h1>Gestion des examens</h1>
      <i class="fa fa-user-circle-o" aria-hidden="true" style="width: 1000px;"></i>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="field-wrap">
          <div class="form-group">

            <input class="input" type="text" formControlName="username" class="form-control" placeholder="Nom d'utilisateur *" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />

            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">champs obligatoire</div>
            </div>
          </div>
        </div>

        <div class="field-wrap">
          <div class="form-group">


            <input class="input" type="password" formControlName="password" placeholder="Mot de passe *"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">champs obligatoire</div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <button type="submit" [disabled]="loading" class="button button-block">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Se connecter
          </button>
        </div>
      </form>

    </div>


  </div>

</div>

