
<div class="form">
  <div class="tab-content">
    <div id="signup">
      <h1>Gestion des examens</h1>
      <i class="fa fa-user-circle-o" aria-hidden="true" style="width: 1000px;"></i>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="field-wrap">
          <div class="form-group">

            <input class="input" type="text" formControlName="username" class="form-control" placeholder="Nom d'utilisateur *" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />

            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">champs obligatoire</div>
            </div>
          </div>
        </div>

        <div class="field-wrap">
          <div class="form-group">


            <input class="input" type="password" formControlName="password" placeholder="Mot de passe *"  [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">champs obligatoire</div>
            </div>
          </div>
        </div>
        <p><a (click)="resetModal.show();">Oublié mot de passe</a></p>

        <div class="form-group">
          <button type="submit" [disabled]="loading" class="button button-block">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Se connecter
          </button>
        </div>
      </form>

    </div>


  </div>

</div>

<div class="modal fade" bsModal #resetModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="dialog-nested-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" style="background-color: #2e3047;">
        <h4 id="dialog-nested-name1" class="modal-title pull-left" style="color: #fff;">Oublié mot de passe</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="resetModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="errorMsg" *ngIf="errorMessage">
          <span>{{errorMessage}}</span>
        </div>
        <div id="successMsg" *ngIf="successMessage">
          <span>{{successMessage}}</span>
        </div>

        <div class="form-group">
          <input class="form-control" name="mail" placeholder="exemple@gmail.com"
                 ngModel
                 required
                 #mail="ngModel"
                 [ngClass]="{'form-control' : true,
                  'is-invalid' : !mail?.valid && mail?.touched,
                    'is-valid' : mail?.valid && mail?.touched}">
          <small *ngIf="mail?.errors?.required && mail?.touched"class="form-text text-danger">champs obligatoire</small>
        </div>
        <div>
          <button  class="button button-block" (click)="sendSimpleMessage();">Réinitialiser le mot de passe</button>
        </div>
      </div>
    </div>

  </div>
</div>
